body {
    box-sizing: border-box;

}
h1 {
    display: flex;
    justify-content: center;
}
.container {
    margin: auto;
    width: 230px;
    height: 300px;
    border: 1px solid black;
    display:flex;
    flex-direction: column;
    border-radius: 8px;
    background-color: #696969; 
}
.display p{
    display: flex;
    width: auto;
    height: 60px;
    background-color: #64923F;
    border-radius: 8px;
    margin: 5px;
    justify-content: flex-end;
    align-items: end;
}

.buttons {
  display: flex;
flex: 1;

}

.number-buttons{
display: flex;
flex-wrap:wrap;
flex: 3;
gap:2px
}
.number-buttons button{
    flex:1 0  25%;
    flex-direction:column;
    margin: 2px;
    
}

.action-buttons {
    display: flex;
    margin: 4px;
    gap:2px;
    flex-direction: column;
    flex:1;
}
.action-buttons button {
    flex:1;
    background-color:#F19C13;
}

button {
    border-radius: 4px;
    border: none
}