body {
    box-sizing: border-box;
    background-color: #121212;

}
h1 {
    display: flex;
    justify-content: center;
}
.container {
    margin: auto;
    width: 230px;
    height: 300px;
    border: 1px solid black;
    display:flex;
    flex-direction: column;
    border-radius: 8px;
    background-color: #1e1e1e;
}
.display {
    display: flex;
    width: 220px;
    height: 60px;
    background-color: #2d2d2d;
    border-radius: 8px;
    margin: 5px;
    flex-direction: column;
    
}

p {
  display: flex;
  margin: 0; 
  padding-right: 5px; 
  justify-content: end;
  align-items: center; 
  width: auto;
  white-space: nowrap;
  flex: 1;
  min-width: 0;
  overflow: hidden;
  text-overflow: ellipsis;
}


.small-display {
  font-size: 12px; 
}


.container .display .big-display {
  font-size: 25px;
  margin: 0;       
  padding-bottom: 0; 
}

.buttons {
  display: flex;
  flex-direction: row-reverse;
flex: 1;

}

.number-buttons{
display: flex;
flex-wrap:wrap;
flex: 3;
gap:2px
}
.number-buttons button{
    flex:1 0  25%;
    flex-direction:column;
    margin: 2px;
    background-color: #3a3a3a;
    
}

.action-buttons {
    display: flex;
    margin: 4px;
    gap:2px;
    flex-direction: column;
    flex:1;
}
.action-buttons button {
    flex:1;
    background-color:#ff9f0a;
}

button {
    border-radius: 4px;
    border: none;
    
    
}

button:hover{
    filter: brightness(85%);
    cursor: pointer;
}